@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
  cursor: url(../img/PIXELICON/cur_point.png) 0 0, auto;
}

ul {
  list-style: none;
}

body {
  background-color: #1F1F1F;
  overflow-x: hidden;
  width: 1920px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

html{
  scroll-behavior: smooth;
  cursor: url(../img/PIXELICON/cur2.png) 0 0, auto
}

/* setting */


#intro {
  padding-top: 10px;
  margin: 0 auto;
  width: 1920px;
  height: 1000px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 1400px;
}

.slider_intro {
  display: flex;
  width: 5000px;
  animation: rotate 35s linear infinite;
}

.slider_intro2 {
  display: flex;
  width: 5000px;
  animation: rotate_r 35s linear infinite;
}

.frame1 {
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  width: 2500px;
  justify-content: space-around;
}


.frame1>li>img {
  width: 342px;
}



@keyframes rotate {
  0% {
      margin-left: 0;
  }

  100% {
      margin-left: -2500px;
  }
}

@keyframes rotate_r {
  0% {
      margin-left: -2500px;
  }

  100% {
      margin-left: 0px;
  }
}

.blur {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 3;
  width: 2000px;
  height: 1100px;
  background-color: #1f1f1f5e;
  backdrop-filter: saturate(150%) blur(15px);
}

#main {
  padding-top: 120px;
  margin: 0 auto;
  width: 1920px;
  min-width: 1400px;
  height: 990px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 1400px;
}

/* 1ppppppppppppppppp */

.gnb_wrap {
  width: 1920px;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999 !important;
  background-color: rgb(124, 90, 184);
  /* box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -90px;
}

.gnb {
  display: flex;
  margin: 0 auto;
  width: 1320px;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: 'pixelify sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  z-index: 9998;

}

.gnb>li>a {
  display: block;
  padding: 40px 20px;
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
  color: rgb(124, 90, 184);
  transition: all 0.6s;
}


.gnb>li>a:hover {
  text-shadow: -2px 0 #FFE342, 0 2px #FFE342, 2px 0 #FFE342, 0 -2px #FFE342;
  transform: scale(1.05, 1.05);
  transition: all 0.3s;
}

.img_logochr>a>img {
  width: 93px;
  height: 130px;
  position: absolute;
  top: 20%;
  left: 46.5%;
  z-index: 9999;
}

.gnb>li:nth-child(4) {
  width: 10px;
  padding-right: 200px;
}

.text_wrap {
  position: absolute;
  top: 18%;
  left: 28.7%;
  z-index: 5;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: yellow; */
}

.text_wrap>ul {
  display: flex;
  font-family: 'DungGeunMo', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
  justify-content: space-between;
  box-sizing: border-box;
}

.text_wrap>ul>li {
  transition: all 0.4s;
}

.text_wrap>ul>li:hover {
  text-shadow: 0px 0px 10px #ffffff;
  ;
  transition: all 0.2s;
}

.text_wrap>p {
  font-family: 'DungGeunMo', sans-serif;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  padding: 0px 0;
  margin-top: 20px;
}

.main_img {
  width: 460px;
  z-index: 5;
  position: absolute;
  top: 32%;
  left: 38.2%;
}

.main_img>img {
  width: 100%;
}

.text1 {
  margin-left: 60px;
  width: 674px;
}

.text2 {
  margin-left: 20px;
  width: 790px;
}

.text3 {
  margin-left: 0px;
  width: 830px;
}

.text4 {
  margin-left: 0x;
  width: 830px;
}

.text5 {
  margin-left: 0px;
  width: 830px;
}

.text6 {
  margin-left: 18px;
  width: 800px;
}

.text7 {
  margin-left: 60px;
  width: 674px;
}

.letterbox {
  position: absolute;
  z-index: 4;
  top: 72%;
  left: 41.1%;
  width: 350px;
  height: 20px;
  background-color: #FFE342;
}

.join {
  position: fixed;
  z-index: 9999;
  bottom: 10%;
  width: 1920px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'pretendard-regular', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.join>a {
  text-align: center;
  padding: 13px 116px;
  background-color: #FFE342;
  border-radius: 30px;
  color: rgb(124, 90, 184);
  transition: all 0.6s;
}

.join>a:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.3s;
}

.text_wrap>p>span {
  text-shadow: 0px 5px 5px #33333361;
}

/* main end */

#container {
  width: 1920px;
  min-width: 1400px;
  height: 2528px;
  background: url(../img/bg_img/gradient_bg_복사본.png) no-repeat center bottom;
  margin: 0 auto;
  font-family: 'pretandard-regular', sans-serif;
  padding-top: 50px;
}

.con_favorit {
  margin: 0 auto;
  padding-top: 150px;
  width: 1320px;
  text-align: center;
}

.con_favorit>h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #fff;
}

.con_favorit .swiper {
  width: 1320px;
  height: 400px;
  cursor: url(../img/PIXELICON/cor.png) 22 16, auto ;
}

.con_favorit .swiper-slide {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: url(../img/PIXELICON/cor.png) 22 16, auto ;

}

.con_favorit .swiper-slide>a>p {
  font-family: 'pretendard-regular', sans-serif;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.con_favorit .swiper-slide>a {
  border-radius: 30px;
  transition: all 1s;
  cursor: url(../img/PIXELICON/cor.png) 22 16, auto ;
}

.con_favorit .swiper-slide>a>img {
  transition: all 0.5s;
}

.con_favorit .swiper-slide>a:hover .sw_img {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}


.sw_img {
  width: 200px;
  height: 288px;
}

.rank {
  position: absolute;
  z-index: 1;
  top: 62.5%;
  right: -5.5%;
}

/* con1 end */

.con2 {
  width: 1320px;
  margin: 200px auto;
  text-align: center;
  box-sizing: border-box;
}

.diffrence {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: #fff;
}

.diffrence>li {
  width: 23%;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 400px;
  padding: 30px 25px;
  box-sizing: border-box;
  background-color: #313131;
  position: relative;
}

.diffrence>li>p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  color: #ffffffc6;
}

.con2>h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
}

.diffrence>li>h3 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.diffrence_img {
  position: absolute;
  bottom: 20px;
  right: 25px;
}

/* goods */
#nn {
  width: 1320px;
  height: 600px;
  margin: 200px auto;

}

#nn .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

}

#nn .swiper-slide {
  background-position: center;
  background-size: cover;
  height: 400px;
  width: auto;
  cursor: url(../img/PIXELICON/cor.png) 22 16, auto ;
}

#nn .swiper-slide img {
  height: 100%;

}

#nn>h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #fff;
}

/*  */
:root {
  --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.20rem);
  --step-0: clamp(4.50rem, 3.64rem + 4.29vw, 9.00rem);
}

@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-500%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-200%);
  }
}

@-webkit-keyframes marquee-r {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes marquee-r {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes rollCage {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(5turn);
  }
}

@keyframes rollCage {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(5turn);
  }
}

.marquee1 {
  font-family: 'DungGeunMo', sans-serif;
  font-weight: 700;
  color: #fefefe;
  font-size: var(--step-0);
  height: calc(170px + 2rem);
  overflow: hidden;
  position: relative;
  width: 1920px;
  background-color: #FFE342
}

.marquee img {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 150px;
}

.marquee1>.track {
  height: 100%;
  overflow: hidden;
  padding: 1rem 0;
  position: absolute;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
}

.marquee1>.track>.text {
  -webkit-animation: marquee 50000ms linear infinite;
  animation: marquee 50000ms linear infinite;
  align-items: center;
  display: inline-flex;
  will-change: transform;
}

.marquee1>.track>.text.-r {
  -webkit-animation-name: marquee-r;
  animation-name: marquee-r;
}

.marquee1>.track>.text.-twox {
  -webkit-animation-duration: 25000ms;
  animation-duration: 25000ms;
}

.marquee1>.track:hover {
  background-color: #684C99;
  color: #1A1F24;
}

.marquee1>.track:hover>img {
  -webkit-animation: rollCage 10000ms linear infinite;
  animation: rollCage 10000ms linear infinite;
}

.marquee1>.track:hover .-green {
  color: #FFE342;
}

.marquee1 .-green {
  color: #684C99;
  font-weight: 900;
  margin: 0 50px;
}

/* ----------- */
#con_2p {
  width: 1920px;
  min-width: 1400px;
  height: 1000px;
  margin: 100px auto;
  background: url(../img/bg_img/bluebg\ 1.png) no-repeat center bottom;
  box-sizing: border-box;
}

.review_wrap {
  width: 1320px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 130px;
  box-sizing: border-box;
}

.review_wrap>h2 {
  margin: 60px 0 90px 0;
  font-size: 40px;
  font-family: 'pretandar-regular', sans-serif;
  font-weight: 500;
  text-shadow: #1a1f2495 5px 5px 5px;
  line-height: 150%;
}

.review_wrap>h1{
  font-size: 50px;
  font-family: 'dunggeunmo', sans-serif;
}

.review1 {
  width: 470px;
  height: 173px;
  background-color: #c1c1c15e;
  backdrop-filter: saturate(150%) blur(10px);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.re_1_img {
  margin-right: 20px;
}

.re_1_text {
  width: 258px;
}

.re_1_text>h3 {
  font-size: 22px;
  font-weight: 500;

}

.re_1_text>p {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 16px;
  font-weight: 300;
}
#slide {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}

.slide_inner {
  width: 5000px;
  display: flex;
  animation: LLIINNEERR 22s linear infinite;
}

.slide_inner1_1 ul {
  display: flex;
  width: 2500px;
  justify-content: space-around;
}
.slide_inner1_1 {
  width: 5000px;
  display: flex;
  animation: LLIINNEERR 25s linear infinite;
}

.slide_inner ul {
  display: flex;
  width: 2500px;
  justify-content: space-around;
}
@keyframes LLIINNEERR {
  0% {
      margin-left: 0;
  }

  100% {
      margin-left: -2500px;

  }
}
/* ----2pend */

#membership_wrap {
  min-width: 1400px;
  width: 1920px;
  padding-top: 160px;
  box-sizing: border-box;
}

.membership {
  width: 1320px;
  margin: 0px auto;
  font-family: 'pretandard-regular' sans-serif;
}

.membership_plan img {
  height: 120px;
}


.membership>h2 {
  font-family: 'dunggeunmo', sans-serif;
  font-size: 50px;
}

.membership>h1 {
  margin: 40px 0 40px 0;
  font-size: 40px;
  font-weight: 600;
}


.membership>h4 {
  font-size: 25px;
  font-weight: 400;
}

.membership>h1,
h2,
h4 {
  text-align: center;
  color: #fff;
}

.membership_plan {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 300;
  box-sizing: border-box;
}

.membership_plan>li {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  width: 34%;
}

.lite {
  background-color: #48AED3;
  transition: all 0.8s;
  position: relative;
  z-index: 1;
}
.lite:hover {
  background-color: #1e91ba;
  transform: scale(1.12, 1.12);
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 5px 5px 10px #1a1f2465;
  z-index: 5;
}



.basic {
  background-color: #6A31CC;
  transition: all 0.8s;
  position: relative;
  z-index: 1;
}
.basic:hover {
  background-color: #5320a9;
  transform: scale(1.12, 1.12);
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 5px 5px 10px #1a1f2465;
  z-index: 5;
}

.premium {
  background-color: #E8C500;
  transition: all 0.8s;
  position: relative;
  z-index: 1;
}
.premium:hover {
  background-color: #cdae00;
  transform: scale(1.12, 1.12);
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: -5px -5px 10px #1a1f2465;
  z-index: 5;
}

.underbar {
  width: 38px;
  height: 3px;
  background-color: #fff;
}

.membership_plan>li>h3,
p,
.underbar {
  text-align: left;
  margin-top: 12px;
}

.membership_plan>li>h1 {
  font-size: 40px;
  text-align: left;

}

.membership_plan>li>h3 {
  font-size: 25px;
}

.membership_plan>li>p>span {
  font-weight: 500;
}

/* membership end */

#event_wrap {
  width: 1920px;
  min-width: 1400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 160px;
  box-sizing: border-box;
}

#event_wrap>h2{
  font-family: 'dunggeunmo', sans-serif;
  font-size: 50px;
}
#event_wrap>h1{
  font-family: 'pretandar-regular', sans-serif;
  font-size: 40px;

}
#event_wrap>h3{
  font-family: 'pretandar-regular', sans-serif;
  font-size: 25px;
  font-weight: 300;
}


.event_icon {
  width: 1320px;
  height: 120px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 5px;
}

.event_icon>.swiper {
  width: 100%;
  height: 100%;
}

.event_icon .swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}

.event_icon .swiper-slide img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  box-shadow: #1a1f246c 2px 2px 5px 0;
  transition: all 0.3s;
}

.event_icon .swiper-slide img:hover {
  transform: scale(1.15, 1.15);
  transition: all 0.3s;
}

.slide_wrap {
  margin: -30px auto;
}

.slide_title {
  width: 1270px;
  height: 40px;
  background-color: #E8C500;
  border-radius: 0 0 20px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.slide_title>p {
  text-align: center;
  color: #333;
  font-family: 'dunggeunmo';
  font-size: 31px;
}

#slide1 {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 7px;
}

.slide_inner1 {
  width: 4000px;
  display: flex;
  animation: rotate 28s linear infinite;
}

.slide_inner1 ul {
  display: flex;
  width: 2000px;
  justify-content: space-around;
}

.slide_inner1 ul li {
  width: 200px;
  margin: 0 10px 10px 10px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.559) inset;
  position: relative;
  overflow: hidden;
}


.slide_inner1 ul li img {
  width: 200px;
  height: 200px;

}

.event_view {
  color: #fff;
  position: absolute;
  z-index: 10;
  top: 96%;
  left: 25px;
  background-color: #1f1f1f5e;
  backdrop-filter: saturate(150%) blur(10px);
  border-radius: 30px;
  transition: all 0.6s;
}

.slide_inner1>ul>li:hover .event_view {
  top: 70%;
  transition: all 0.3s;
}


.event_view>a {
  display: block;
  padding: 7px 25px;
  color: #ffd903;
  font-family: 'pretendard-regular', sans-serif;
  font-weight: 300;
}

.slide_inner1:hover {
  animation-play-state: paused;
}


#slide1 p {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: rotate(-50%);
}

#slide2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}

.slide_inner2 {
  width: 4000px;
  display: flex;
  animation: rotate 25s linear infinite;
}

.slide_inner2 ul {
  display: flex;
  width: 2000px;
  justify-content: space-around;
}

.slide_inner2 ul li {
  width: 200px;
  margin: 0 10px 10px 10px;
  position: relative;
  overflow: hidden;
}


.slide_inner2>ul>li>a>img {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0) inset;
  overflow: hidden;
  position: relative;
}

.slide_inner2>ul>li:hover .event_view {
  top: 70%;
  transition: all 0.3s;
}

.slide_inner2:hover {
  animation-play-state: paused;
}


#slide2 p {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: rotate(-50%);
}

@keyframes rotate {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -2000px;
  }
}

/* -------event end--------- */
#con5 {
  background: url(../img/bg_img/download_event.png) no-repeat center bottom;
  width: 1920px;
  min-width: 1400px;
  height: 250px;
  margin: 150px auto;
  overflow: hidden;
}

.download_wrap {
  width: 1320px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  position: relative;
  color: #fff;
  font-family: 'pretandard-regular', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  box-sizing: border-box;
}


.thumb_up {
  position: absolute;
  top: 90px;
  left: 510px;
}

.imgimgimg {
  width: 150px;
}

.app>a>img {
  width: 240px;
}

.phone {
  margin-left: 500px;

}

/* ---event end--- */
#qna_wrap{
  min-width: 1400px;
  padding-top: 160px;
}

.qna {
  width: 1320px;
  margin: 0px auto;
}

.qna > h2{
  font-family: 'dunggeunmo', sans-serif;
  font-size: 50px;
}

.qna >h1{
  color: #fff;
  text-align: center;
  font-size: 40px;
margin-bottom: 60px;
}

.qna_list > h3{
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.qna_list>ul>li{
  margin-bottom: 20px;
  position: relative;
}

.qna_list>ul>li>a>img{
  position: absolute;
  top: 25px;
  right: 40px;
}

.qna_list>ul>li>a {
  display: block;
  width: 1320px;
  height: 70px;
  background-color: #6A39BD;
  color: #fff;
  font-family: 'pretandad-regular', sans-serif;
  font-size: 27px;
  border-radius: 20px 20px 0 0;
  padding: 8px 35px;
  box-sizing: border-box;
}

.qna_list>ul>li>a>span {
  font-family: 'dunggeunmo', sans-serif;
  font-size: 45px;
}

.qna_answer{
  display: flex;
  height: 230px;
  padding: 20px 35px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  
}

.qna_answer>.A{
  font-family: 'dunggeunmo', sans-serif;
  font-size: 40px;
    color: #222222;
}

.qna_text{
  font-family: 'pretandad-regular', sans-serif;
  font-size: 24px;
  margin-left: 15px;
  color: #222222;

}

.qna_text>p{
  padding-bottom: 12px;
}

.qna_list>ul>li:hover .qna_arrow{
  transform: rotate(180deg);
  transition: all 0.3s;
}

.yougio{
  color: #888;
  margin-top: 100px;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 100px;
}

/* ---qna end--- */

#footer_wrap {
  width: 1920px;
  height: 400px;
  background-color: #eeca00;
  margin: 0 auto;
  color: #fff;
  font-family: 'pretandad-regular', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 50px 0;
}


/* ------------ */

#footer_wrap{
  min-width: 1400px;
}


.footer{
  width: 1320px;  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_text>p{
  display: block;
  text-align: center;
  font-size: 15px;
}

.footer > img{
  width: 200px;
  margin-bottom: 30px;
}

.sns{
  margin: 20px 0;
  display: flex;
}

.sns>li{
  margin: 0 15px;

}
